extends ./template.pug

block headerCSS
    link(rel="stylesheet", href="css/index/style.css")

block content
    h1.section__jogadores__title Jogadores disponíveis
    section.section__jogadores
        if(jogadores)
            each jogador in jogadores
                div.section__jogadores__jogador
                    if jogador.FOTO
                        img(src= `/${jogador.FOTO}`, alt="Imagem Jogador")
                    div.qualquer
                        h3 #{jogador.NOME}
                        p  #{jogador.IDADE}
                        P #{jogador.DESCRICAO}
                        a(href= `jogador/${jogador.IDJogador}`, title="Ver mais") Ver mais
    