<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body

        section.jogador
            h1 Perfil do #{jogador.NOME}
            .jogador__nome
                p Nome:
                p #{jogador.NOME}
            .jogador__peso
                p Preço:
                p #{jogador.PRECO}
            .jogador__peso
                p peso :
                p #{jogador.PESO}
            .jogador__altura
                p altura:
                p #{jogador.ALTURA}
            
